.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../../../images/Edit-Button.svg) no-repeat;
  border: 1px solid #fff;
  background-size: cover;
  margin-top: 10px;
}
 @media screen and (max-width: 597px) {
  .profile__edit-button {
    position: absolute;
    top: 0;
    left: 245px;
    width: 18px;
    height: 18px;
   }
}
